/* Home.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Home.css */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    width: 100vw; /* Full width */
    height: 100vh; /* Full viewport height */
    text-align: center;
}


h1 {
    margin-bottom: 20px; /* Add space below the heading */
        text-align: center; /* Center text below images */

}

p {
    margin-bottom: 20px; /* Add space below the paragraph (if needed) */
        text-align: center; /* Center text below images */

}
